$primary-color: #ee4d2d;
$secondary-color: #888;
$primary-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
$footer-height: 70px;
$header-height: 64px;
:root {
  --primaryColor: #{$primary-color};
  --secondaryColor: #{$secondary-color};
  --primaryBoxShadow: #{$primary-box-shadow};
  --headerHeight: #{$header-height};
  --footerHeight: #{$footer-height}
}